#frame_id{
	width: 600px;
	height: 400px;
	background: lightblue;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -200px;
	text-align: center;

}
#title_id{
	padding-top: 20px;
	font-family: ;

}