.html{
	height: 100%;
}
.body{
	height: 100%;
	margin: 0px;
}
.squareA_class{
	background: red;
	height: 90%;
	width: 10%;
}
.squareB_class{
	background: blue;
	height: 90%;
	width: 90%;
	float:left;
}
